<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<div class="about-box">
<h1> About Page </h1>
<p>
    This is a lightweight blog web application built using Node.js, Express, and EJS.
 Users can create a temporary personal blog by simply entering their first name.
 The app dynamically generates a custom blog page where they can add, view, and delete posts. 
 Since all data is stored in memory, 
 the blog is ideal for temporary or demo use without requiring a database.
</p>
</div>
<%- include('partials/footer.ejs') %>